<?xml version="1.0"?>
<robot name="my_amr" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!-- Colors -->
        <material name="red">
            <color rgba="1 0.3 0 1"/>
        </material>

        <material name="blue">
            <color rgba="0 0 0.5 1"/>
        </material>

        <material name="black">
            <color rgba="0 0 0 1"/>
        </material>

        <material name="grey">
            <color rgba="0.5 0.5 0.5 1"/>
        </material>

    <!-- Variables and Constants -->
        <!-- Body dimensions -->
            <!-- Body Width/Length -->
            <xacro:property name="c" value="0.5"/>
            <!-- Body Height -->
            <xacro:property name="b" value="0.1"/>
            <!-- Body Mass -->
            <xacro:property name="body_mass" value="20.0"/>
    
        <!-- Wheel and caster dimensions -->
            <!-- Wheel radius -->
                <xacro:property name="r" value="0.05"/>
            <!-- Wheel width -->
                <xacro:property name="d" value="0.02"/>
            <!-- Wheel offset -->
                <xacro:property name="wheel_offset" value="0.01"/>
            <!-- Wheel Mass -->
                <xacro:property name="wheel_mass" value="0.5"/>
            <!-- Caster radius -->
                <xacro:property name="r_caster" value="0.02"/>
            <!-- Caster Mass -->
                <xacro:property name="caster_mass" value="0.1"/>

        <!-- Lidar and Roof dimensions -->
            <!-- Lidar Radius -->
                <xacro:property name="lidar_radius" value="0.05"/>
            <!-- Lidar Length -->
                <xacro:property name="lidar_length" value="0.05"/>
            <!-- Lidar Mass -->
                <xacro:property name="lidar_mass" value="0.5"/>
            <!-- Roof Height-->
                <xacro:property name="roof_height" value="0.001"/>
            <!-- Roof Mass -->
                <xacro:property name="roof_mass" value="1.0"/>

        <!-- S Value --> 
            <xacro:property name="S1" value="${b/2.0+2.0*r_caster}"/>
            <xacro:property name="S2" value="0.2"/>
            <xacro:property name="S3" value="0.125"/>
            <xacro:property name="S4" value="${c/2.0-d/2.0}"/>

    <!-- Inertia -->
        <xacro:macro name="box_inertia" params="m l w h xyz rpy">
            <inertial>
                <origin xyz="${xyz}" rpy="${rpy}"/>
                <mass value="${m}"/>
                <inertia ixx="${(m/12.0) * (h*h + l*l)}" ixy="0" ixz="0"
                         iyy="${(m/12.0) * (w*w + l*l)}" iyz="0"
                         izz="${(m/12.0) * (w*w + h*h)}"/>
            </inertial>
        </xacro:macro>

        <xacro:macro name="cylinder_inertia" params="m r h xyz rpy">
            <inertial>
                <origin xyz="${xyz}" rpy="${rpy}"/>
                <mass value="${m}"/>
                <inertia ixx="${(m/12.0) * (3.0*r*r + h*h)}" ixy="0" ixz="0"
                         iyy="${(m/12.0) * (3.0*r*r + h*h)}" iyz="0"
                         izz="${(m/2.0) * (r*r)}"/>
            </inertial>
        </xacro:macro>

        <xacro:macro name="sphere_inertia" params="m r xyz rpy">
            <inertial>
                <origin xyz="${xyz}" rpy="${rpy}"/>
                <mass value="${m}"/>
                <inertia ixx="${(2/5) * m * r * r}" ixy="0" ixz="0"
                         iyy="${(2/5) * m * r * r}" iyz="0"
                         izz="${(2/5) * m * r * r}"/>
            </inertial>
        </xacro:macro>

</robot>